*.so
*.gch
*.pyc
*.out
*.o
python/*.o
*.xcf
*.png
*.mol
deps/*.d
deps/*.Td
python/test/*xml
python/test/*png
benchmark/*xyz
examples/*xyz
./*xml
src/src/CMakeFiles
# Emacs backups:
*~
# Documentation:
doc/html/
doc/latex/
# Build directory:
build/

CMakeCache.txt
CMakeFiles/
Config.h
Makefile
cmake_install.cmake
src/CMakeFiles/
src/Makefile
src/cmake_install.cmake
src/testing

