*.so
*.gch
*.pyc
*.out
*.o
python/*.o
*.xcf
*.png
*.mol
deps/*.d
deps/*.Td
python/test/*xml
python/test/*png
benchmark/*xyz
examples/*xyz
./*xml
src/src/CMakeFiles
# Emacs backups:
*~
# Documentation:
doc/html/
doc/latex/
# Build directory:
build/
build-7.5/
src/Makefile
Makefile
benchmark/*nvprof
examples/readLammpsInput/chlorobenzene
examples/readLammpsInput/chlorobenzene_small
CMakeLists.txt
python/setup.py
